<h2>Show post</h2>

<ul>

  <li>
    <strong>Body:</strong>
    <%= @post.body %>
  </li>

  <li>
    <strong>Slug:</strong>
    <%= @post.slug %>
  </li>

  <li>
    <strong>Date published:</strong>
    <%= @post.date_published %>
  </li>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

</ul>

<%= link "Edit", to: post_path(@conn, :edit, @post) %>
<%= link "Back", to: post_path(@conn, :index) %>
