/* This file is for your main application css. */
body { margin-top: 0; }

h2  { margin-top: 2em; }

.front-page .cognitools { margin-bottom: 2em}
.front-page .cognitools ul { margin: 0.5em 0}

.blog-list-simple h2 { font-size: 1.1em; line-height: 1.3; font-family: 'Rubik', sans-serif;
text-transform: none;
letter-spacing: normal;
margin: 10px 0;
}
.blog-list-simple li { margin-bottom: 0.5ex; font-size: 0.85em;
}

.blog-list-simple li p.teaser-text { display: none }
.blog-list-simple li:nth-child(-n+10) {
    font-size: 1em;
    margin-bottom: 10px;
}
.blog-list-simple li:nth-child(-n+3) {
    margin-bottom: 6ex;
}
.blog-list-simple li:nth-child(-n+3) p.teaser-text {
  display: block;
}
.blog-list-simple li:nth-child(-n+3) h2 {
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.blog-list-simple .date_published { margin-left: 5px; padding-bottom: 10px}
.blog-list-simple .featured-image { max-height: 300px; max-width: 500px;overflow: hidden;}

.front-page .blog-list-simple li { text-transform: none; font-size: 1em; margin: 1ex 0 }

textarea.form-control { font-size: 20px; padding: 20px 50px; }
textarea { min-height: 500px;  }



img + em { font-size: 0.9em;
margin-bottom: 1em;
display: block;
text-indent: 0;
line-height: 1.4;
padding: 0 22px;
}


.ingress {
    font-style: italic;
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-left: 2em;
    line-height: 1.4;
}

#header a.site-title {
  font-weight: 600;
  font-size: 1.5em;
  color: #444;
}
#header h2 { margin-top: 1em; }

#header nav ul { margin-top: 0.5em }
#header nav a {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.03em;
}
#header nav a.active { font-weight: 500; }

.nav > li > form > a {
    position: relative;
    display: block;
    padding: 10px 15px;

}


.front-page .intro { margin-bottom: 2em; }
.front-page .intro strong { font-style: normal; }
.front-page img.profile { margin-top: 1em; max-width: 300px}
.front-page .intro p.social-icons { text-align: center; padding-right: 4em; margin-top: 2em }
.sfront-page h2 { margin-top: 1em; }
.social-icons a { color: #333; margin-right: 15px; font-size: 1.4em;  }


ul.projects > li { overflow: hidden; }
ul.projects > li  img {width: 100%; max-width: 300px;  }
.other-sites .col-md-8 { position: static; }

em.tagline { margin-bottom: 0.2em; font-size: 1.1em; display: block }

.consulting form input,
.consulting form textarea { font-size: 20px; height: auto;}
.consulting textarea {  padding: 10px 15px; }
.consulting input[type='text'] { max-width: 25em }
.consulting textarea { min-height: 300px; max-width: 40em; }

.post .featured-image { min-height: 10rem}
.post .featured-image img { max-height: 40vh; }
.article h1 { margin-top: 5rem }


body.admin-user .admin-column {  width: 15em; position:fixed }
